$backgr: #DCDCDC
$fntc: #3f3f3f
nav  
    position: fixed
    height: 100vh
    background: $backgr
    width: 300px
    box-shadow: 0 0 12px #DCDCDC
    color: #A9A9A9
    ul 
        li 
            list-style-type: none
            margin-bottom: 40px
            h1 
                font-size: 23px
                font-weight: lighter
                padding-top: 20px
            a 
                text-decoration: none
                color: $fntc
                font-size: 25px 
                box-sizing: border-box
            a:hover 
                border: 1px solid black
                background: black
