@import url("../css/menu-styles.css");
@import url("../css/header-style.css");
@import url("../css/content-style.css");
@import url("../css/footer-style.css");
* {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px; }

html {
  overflow: hidden; }

a {
  text-decoration: none;
  color: #3f3f3f; }
